@model Examen_2019.Models.Location

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Debut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Debut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_fin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_fin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Retour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix_Jour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix_Jour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.voiture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.voiture.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
