@model IEnumerable<Examen_2019.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date_Debut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Retour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix_Jour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.voiture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Debut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Retour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix_Jour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.voiture.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
